<h3 class="fc-secondary mb2">r-avatar</h3>
<div class="mb2">
  {{r-avatar src='avatars/1.png' size="small"}}
  {{r-avatar src='avatars/1.png' size="medium"}}
  {{r-avatar src='avatars/1.png' size="large"}}
  {{r-avatar src='avatars/1.png' size="x-large"}}
  {{r-avatar src='blah' fallbackSrc='avatars/default-pic.png' size="x-large"}}
</div>
